<!--<h3>Child Component</h3>
<p>Received value: {{ data }}</p>-->

<h2>children componennt</h2>
<ng-content></ng-content>

<p> #childParagraph> This is a child component paragraph</p>

<!--<p>Student Name:{{student.name}}</p>
<p><em>OPen browser console to see ngDoChecklogs.</em></p>-->


<!--<h3>Child Component</h3>
<ng-content></ng-content>-->


<div style ="border: 2px solid green; padding: 20px;">
<h2>Child Component</h2>
<p #paraRef>{{ message1 }}</p>
<button (click)="updateMessage1()">Change Message1 </button>
</div>

